extends main

block append styles
  link(rel='stylesheet', href='/stylesheets/dashboard.css')

block body
  .demo-layout-transparent.mdl-layout.mdl-js-layout
    header.mdl-layout__header.mdl-layout__header--transparent
      .mdl-layout__header-row
        // Title
        span.mdl-layout-title Title
        // Add spacer, to align navigation to the right
        .mdl-layout-spacer
        // Navigation
        nav.mdl-navigation
          a.mdl-navigation__link(href='') Link
          a.mdl-navigation__link(href='') Link
          a.mdl-navigation__link(href='') Link
          a.mdl-navigation__link(href='') Link
    .mdl-layout__drawer
      span.mdl-layout-title Title
      nav.mdl-navigation
        a.mdl-navigation__link(href='') Link
        a.mdl-navigation__link(href='') Link
        a.mdl-navigation__link(href='') Link
        a.mdl-navigation__link(href='') Link
    main.mdl-layout__content
      block content
