extends layouts/dashboard

block content
  //- .mdl-card.mdl-shadow--2dp.demo-card-square
  //-   .mdl-card__title.mdl-card--expand
  //-     h2.mdl-card__title-text Card 1
  //-   .mdl-card__supporting-text
  //-     | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
  //-   .mdl-card__actions.mdl-card--border
  //-     a.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect
  //-       | Action
  //- // Square card
  //- .mdl-card.mdl-shadow--2dp.demo-card-square
  //-   .mdl-card__title.mdl-card__accent.mdl-card--expand
  //-     h2.mdl-card__title-text Card 2
  //-   .mdl-card__supporting-text
  //-     | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
  //-   .mdl-card__actions.mdl-card--border
  //-     a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
  //-       | Action
  //- // Square card
  //- .mdl-card.mdl-shadow--2dp.demo-card-square
  //-   .mdl-card__title.mdl-card--expand
  //-     h2.mdl-card__title-text Card 3
  //-   .mdl-card__supporting-text
  //-     | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
  //-   .mdl-card__actions.mdl-card--border
  //-     a.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect
  //-       | Action
  //- // Square card
  //- .mdl-card.mdl-shadow--2dp.demo-card-square
  //-   .mdl-card__title.mdl-card--expand
  //-     h2.mdl-card__title-text Card 4
  //-   .mdl-card__supporting-text
  //-     | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
  //-   .mdl-card__actions.mdl-card--border
  //-     a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
  //-       | Action
  //- // Square card
  //- .mdl-card.mdl-shadow--2dp.demo-card-square
  //-   .mdl-card__title.mdl-card--expand
  //-     h2.mdl-card__title-text Card 5
  //-   .mdl-card__supporting-text
  //-     | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
  //-   .mdl-card__actions.mdl-card--border
  //-     a.mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect
  //-       | Action
  //- // Square card
  //- .mdl-card.mdl-shadow--2dp.demo-card-square
  //-   .mdl-card__title.mdl-card--expand
  //-     h2.mdl-card__title-text Card 6
  //-   .mdl-card__supporting-text
  //-     | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenan convallis.
  //-   .mdl-card__actions.mdl-card--border
  //-     a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
  //-       | Action

  //- .mdl-grid
  //-   .mdl-layout-spacer
  //-   .mdl-cell.mdl-cell--6-col
  //-     .demo-card-wide.mdl-card.mdl-shadow--2dp
  //-       .mdl-card__title
  //-         h2.mdl-card__title-text Welcome
  //-       .mdl-card__supporting-text
  //-         | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  //-         | Mauris sagittis pellentesque lacus eleifend lacinia...
  //-       .mdl-card__actions.mdl-card--border
  //-         a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
  //-           | Get Started
  //-       .mdl-card__menu
  //-         button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
  //-           i.material-icons share

  .demo-card-square.mdl-card.mdl-shadow--2dp
    .mdl-card__title.mdl-card--expand
      h2.mdl-card__title-text Update
    .mdl-card__supporting-text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      | Aenan convallis.
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
        | View Updates
  .demo-card-square.mdl-card.mdl-shadow--2dp
    .mdl-card__title.mdl-card--expand
      h2.mdl-card__title-text Update
    .mdl-card__supporting-text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      | Aenan convallis.
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
        | View Updates
  .demo-card-square.mdl-card.mdl-shadow--2dp
    .mdl-card__title.mdl-card--expand
      h2.mdl-card__title-text Update
    .mdl-card__supporting-text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      | Aenan convallis.
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
        | View Updates
  .demo-card-square.mdl-card.mdl-shadow--2dp
    .mdl-card__title.mdl-card--expand
      h2.mdl-card__title-text Update
    .mdl-card__supporting-text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      | Aenan convallis.
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
        | View Updates
  .demo-card-square.mdl-card.mdl-shadow--2dp
    .mdl-card__title.mdl-card--expand
      h2.mdl-card__title-text Update
    .mdl-card__supporting-text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      | Aenan convallis.
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
        | View Updates
  .demo-card-square.mdl-card.mdl-shadow--2dp
    .mdl-card__title.mdl-card--expand
      h2.mdl-card__title-text Update
    .mdl-card__supporting-text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      | Aenan convallis.
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
        | View Updates
  .demo-card-square.mdl-card.mdl-shadow--2dp
    .mdl-card__title.mdl-card--expand
      h2.mdl-card__title-text Update
    .mdl-card__supporting-text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      | Aenan convallis.
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
        | View Updates
  .demo-card-square.mdl-card.mdl-shadow--2dp
    .mdl-card__title.mdl-card--expand
      h2.mdl-card__title-text Update
    .mdl-card__supporting-text
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      | Aenan convallis.
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
        | View Updates
