extends layouts/main

block append scripts
  script(src='/javascripts/firebaseui-auth-rest.js')

block body
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p !{(content).replace(/\n/g, '<br/>')}
      #sign-in-status
      #sign-in
      #account-details