extends layout-main

block body
  .jumbotron.jumbotron-fluid
    .container
      .display-3.lobster Welcom to #{title}
      p.lead #{description}
  
  .container
    .sign-box.mx-auto
      .test(action='/about')
        .form-group
          input#email.form-control(type='email', placeholder='Email')
        .form-group
          input#password.form-control(type='password', placeholder='Password')
        .form-group
          button#login-btn.btn.btn-primary.lobster(type='submit') Log in
          button#signup-btn.btn.btn-warning.lobster Sign up
          button#logout-btn.btn.btn-danger.lobster.hide Log out
