extends layouts/main

block append styles
  link(rel='stylesheet', href='/bower_components/firebaseui/dist/firebaseui.css')

block append scripts
  script(src='/bower_components/firebaseui/dist/firebaseui.js')
  script(src='/javascripts/firebaseui-auth-main.js')

block body
  .jumbotron.jumbotron-fluid
    .container
      .display-3.lobster Welcom to #{title}
      p.lead #{description}

  #firebaseui-auth-container

  //- include includes/signin-box.pug
  //- include includes/signup-box.pug
