extends layouts/main

block append styles
  link(rel='stylesheet', href='/bower_components/firebaseui/dist/firebaseui.css')

block append scripts
  script(src='/bower_components/firebaseui/dist/firebaseui.js')
  script(src='/javascripts/firebaseui-auth-main.js')

block body
  #firebaseui-auth-container