script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js')
script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='/bower_components/material-design-lite/material.min.js')
script(src='https://www.gstatic.com/firebasejs/3.9.0/firebase.js')
script(src='/javascripts/firebase.js')